.aboutSection {
    position: relative;
    height: 100vh;
    background-image: url(../images/bricksBackground.png);
    background-size: 18.5% 100%;
    background-repeat: repeat-x;
    
    h2 {
      width: 250px;
      border: 5px solid $colorBlue;
      text-align: center;
      background-color: $colorDarkNavy;
    }
    .profile {
        width: 70vw;
        margin: 0 auto;
        display:block;
    }
    .education,
    .skillSection {
        margin: 0 auto;
        display:none;
    }

    .education{
      width: 70vw;
    }

    h3 {
      margin-left:25px;
      margin-bottom:60px;
    }
}

.profile {
    & > div {
        display:flex;
        
        img {
            height: 350px;
            margin-right: 2vw;
            border: 5px double $colorDarkNavy;
        }

        button{
          display:none;
        }

        .profileText {
          background-color:$colorDarkSlate;
          padding: 5px 20px;
          color:$colorDarkNavy;
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;
          border: 5px double $colorDarkNavy;
        }

        span {
          color :$colorLightGreen;
        }

        p {
          margin: 0;
        }
    }
}

.education {
  & > div {
      background-color:$colorDarkSlate;
      display:flex;
      align-items: center;
      padding: 20px;
      border-left:5px double $colorDarkNavy;
      border-right:5px double $colorDarkNavy;

      img {
          width: 100px;
          margin: 0 50px 0 30px;
      }

      p {
        padding: 5px;
        margin: 0;
        color:$colorDarkNavy;
      }

      span {
        font-weight: bolder;
      }
  }

  & >div:nth-child(2) {
    border-top: 5px double $colorDarkNavy;
  }

  & >div:last-child{
    border-bottom: 5px double $colorDarkNavy;
  }
}

.skillSection {
  ul {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left:0;

    li {
        width: 13%;
        height: 210px;
        list-style: none;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colorDarkSlate;
    }

    li:last-child{
      img {
        width: 30%; 
      }
    }
  }
}

.skillSection img {
width: 50%;   
margin: 20px 0 10px;
}

.skillSection p {
text-align: center;
margin: 10px 3px 20px;
}

.pulseEffect {
z-index: 1;
position: relative;

&::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid $colorDarkSlate;
    transform-origin: center;
    transform: scale(1);
}

&:hover::before {
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
    animation: pulseEffect 1s;
}

@keyframes pulseEffect {
    0% {transform: scale(1); opacity: 1;}
    100% {transform: scale(1.25); opacity: 0;}
}
}

.jellyEffect {
  &:hover {
      animation: jellyEffect 0.5s;
  }

  @keyframes jellyEffect{
      0%{transform: scale(1, 1);}
      25% {transform: scale(0.9, 1.1);}
      50% {transform: scale(1.1, 0.9);}
      75% {transform: scale(0.95, 1.05);}
      100% {transform: scale(1, 1);}
  }
}

.shineEffect {
  z-index: 1;
  position: relative;
  overflow: hidden;

  &::after {
      content: '';
      z-index: -1;
      background-color: hsla(0, 0%, 100%, 0.2);
      position: absolute;
      top: -50%;
      bottom: -50%;
      width: 1.25em;
      transform: translate3d(-800%, 0, 0) rotate(35deg);
  }

  &:hover::after {
      animation: shineEffect 1s;
  }

  @keyframes shineEffect {
      0% {transform: translate3d(-800%, 0, 0) rotate(35deg);}
      100% {transform: translate3d(700%, 0, 0) rotate(35deg)}
  }
}

.aboutSectionRange {
    position:absolute;
    bottom: 0;
    width:100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

    div {
        display:flex;
        justify-content: space-between;
        width: 25%;

        p {
            font-family: $fontSubTitle;
            font-size: 0.7rem;
            color: white;
            width: 100px;
        }

        P:nth-child(2) {
          text-align: center;
        }

        p:last-child {
          text-align: end;
        }

      
    }
    input[type=range] {
        height: 25px;
        -webkit-appearance: none;
        width: 25%;
        background-color:$colorDarkGrey;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        box-shadow: 0px 0px 1px $colorLightGreen;
        background: $colorSlate;
        border-radius: 1px;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
        -webkit-appearance: none;
        margin-top: -7px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $colorSlate;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        box-shadow: 0px 0px 1px $colorLightGreen;
        background: $colorSlate;
        border-radius: 1px;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: $colorSlate;
        border: 0px solid $colorLightGreen;
        border-radius: 2px;
        box-shadow: 0px 0px 1px $colorLightGreen;
      }
      input[type=range]::-ms-fill-upper {
        background: $colorSlate;
        border: 0px solid $colorLightGreen;
        border-radius: 2px;
        box-shadow: 0px 0px 1px $colorLightGreen;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: $colorSlate;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: $colorSlate;
      }
}

//About Me section
@media (min-width:1920px) {
  .aboutSection {
    .profile {
        width: 1344px;
    }
    
    .education{
      width: 1344px;
    }
  }

  .profile {
    & > div {
      img {
          margin-right: 38.4px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .aboutSection {
      background-size: 22.5% 100%;
      
    .profile {
        width: 80vw;
    }
  }
}

@media (max-width:1280px) {
  .aboutSection {
    background-size:27.5% 100%;

    .education{
      width: 80vw;
    }
  }

  .profile {
    & > div {
      .profileContainer {
        position:relative;
      }

      img {
        display:none;
     }

     .avatarShows {
       display:block;
       position:absolute;
       left: calc(40vw - 175px);
     }

     button {
       display: block;
       border:none;
       background-color: inherit;
       font-family: $fontSubSubTittle;
       color:white;
       font-size: 1.5rem;
       cursor: pointer;

       &:hover {
        color:$colorLightGreen;
       }
     }

     .buttonClicked {
      color: $colorBurntCoral;

      &:hover {
        color: $colorBurntCoral;
      }
     }

    p {
        margin: 10px;
      }

      .profileText {
        padding: 15px 20px;
      }
    }
  }

  .profileTitle {
    justify-content: space-between;
  }

  .education {
    & > div {
       padding: 10px;
    }
  }

  .skillSection {
    ul {
      flex-wrap: wrap;
      li {
          height: 160px;
          width: 15%;
          margin-bottom: 2vh;
      }
    }
  }

  .skillSection img {
    width: 40%;   
    margin: 10px 0 5px;
    }
    
  .skillSection p {
    font-size: 0.9rem;
    text-align: center;
    margin: 5px 3px 10px;
  }

  .aboutSectionRange {
    div {
        width: 35%;
    }
  }
}

@media (max-width: 1110px) {
  .aboutSection { 
    background-size: 50% 100%;
    h2 {
      width: 200px;
    }
  }
}

@media (max-width:1062px) {
  .profile {
    & > div {
        flex-direction: column;
    }

    .profileTitle {
      flex-direction: row;
    }

    img {
      margin-top:40px;
    }
  }

  .skillSection {
    ul {
      li {
          height: 130px;
          width: 18%;
      }
    }
  }
}

@media (max-height: 1000px) {
  .aboutSection {
    .profile {
        width: 80vw;
    }

    h3 {
      margin-bottom: 20px;
    }

    .education{
      width: 80vw;
    }
  }
}

@media (max-width:830px) {
  .aboutSectionRange {
    div {
        width: 40%;
    }
  }

  .skillSection {
    ul {
      li {
          width: 21%;
      }
    }
  }

  .aboutSectionRange {
    div {
      display:none;
    }
  }
}

@media (max-width:604px) {
  .education {
    & > div {
       padding: 10px;
  
        img {
            width: 80px;
            margin: 0 10px;
        }
  
        p {
          padding: 5px;
        }
    }
  }
}

@media (max-width:600px) {
  .aboutSection {
    h2 {
        width: 150px;
    }
  }
  .profile {
    & > div {
     button {
       font-size: 1.2rem;
     }
    }
  }
}

@media  (max-width: 525px) {
  .aboutSection {
    h2 {
        width: 120px;
    }
  }
}

@media (max-width:500px) {
  .profile {
    & > div {
      img {
        height: 250px;
      }

      button {
        font-size: 1.1rem;
      }
    
      .avatarShows {
        left: calc(40vw - 125px);
      }
    }
  }
  .skillSection {
    ul {
      li {
          height: 100px;
          width: 24%;
          margin-bottom: 10px;
      }
    }
  }

  .skillSection p {
    font-size: 0.8rem;
  }

  .aboutSectionRange input[type=range] {
    width: 40%;
  }
}

@media (max-width:421px) {
  .profile {
    & > div {
        p {
          margin: 5px;
        }
    }
  }

  .education {
    & > div {
       padding: 10px;
  
        img {
            width: 60px;
            margin: 0 10px;
        }
  
        p {
          padding: 2px;
        }
    }
  }

  .skillSection p {
    font-size: 0.7rem;
  }
}

@media (max-width:414px) {
  .profile {
    & > div {
     button {
       font-size: 0.9rem;
     }
    }
  }
}

@media (max-width:375px) {
  .profile {
    & > div {
        p {
          margin: 2px;
        }
    }
  }

  .education {
    & > div {
        img {
            width: 40px;
            margin: 0 5px;
        }
  
        p {
          padding: 2px;
        }
    }
  }

  .skillSection {
    ul {
      li {
          height: 90px;
          width: 30%;
          margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 360px) {
  .skillSection {
    ul {
      li {
          height: 80px;
          width: 30%;
          margin-bottom: 5px;
      }
    }
  }

  .skillSection p {
    font-size: 0.65rem;
  }
}

@media (max-height:590px) {
  .aboutSectionRange {
    margin-bottom:1vh;
  }
}

@media (max-width: 320px) {
  .profile {
    & > div {
     button {
       font-size: 0.7rem;
     }
    }
  }

  .skillSection {
    ul {
      li {
          height: 70px;
          width: 31%;
          margin-bottom: 3px;
      }
    }
  }

  .skillSection p {
    font-size: 0.6rem;
  }
}




