@import "variables";

.aboutSection {
    position: relative;
    height: 100vh;
    .profile {
        width: 70vw;
        margin: 0 auto;
        display:block;
    }
    .education,
    .plumAssessment {
        width: 70vw;
        margin: 0 auto;
        display:none;
    }

    h3 {
      margin-bottom: 60px;
    }
}

.profile {
    & > div {
        display:flex;
        
        img {
            height: 350px;
            margin-right: 2vw;
        }

        .profileText {
          background-color:$colorDarkSlate;
          padding: 5px 20px;
          color:$colorDarkNavy;
          border-bottom-right-radius: 50px;
        }

        span {
          color :$colorLightGreen;
        }
    }
}

.education {
    & > div {
        background-color:$colorDarkSlate;
        display:flex;
       align-items: center;
       padding: 20px;

        img {
            width: 100px;
            margin: 0 50px 0 30px;
        }

        p {
          padding: 5px;
          margin: 0;
          color:$colorDarkNavy;
        }

        span {
          font-weight: bolder;
        }
    }

    & > div:last-child {
      border-bottom-right-radius: 50px;
    }
}

.plumAssessment {
  & > div {
    background-color:$colorDarkSlate;
    padding : 5px 10px;
    padding-left: 150px;

    h4 {
      margin: 5px 0 ;
    }

    ul {
      margin: 10px 0;

      li {
        list-style-type: square;
      }
    }
  }

  & > div:first-of-type {
    padding-top:30px;
  }

  & > div:last-child {
    padding-bottom: 30px;
    border-bottom-right-radius: 50px;
  }
}

.aboutSectionRange {
    position:absolute;
    bottom: 0;
    width:100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

    div {
        display:flex;
        justify-content: space-between;
        width: 25%;

        p {
            font-family: $fontSubTittle;
            color: $colorLightSlate;
            width: 100px;
        }

        P:nth-child(2) {
          text-align: center;
        }

        p:last-child {
          text-align: end;
        }

      
    }
    input[type=range] {
        height: 25px;
        -webkit-appearance: none;
       
        width: 25%;
        background-color: $colorNavy;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        box-shadow: 0px 0px 1px $colorLightGreen;
        background: $colorSlate;
        border-radius: 1px;
        border: 0px solid $colorLightGreen;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
        -webkit-appearance: none;
        margin-top: -7px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $colorSlate;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        box-shadow: 0px 0px 1px $colorLightGreen;
        background: $colorSlate;
        border-radius: 1px;
        border: 0px solid $colorLightGreen;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: $colorSlate;
        border: 0px solid $colorLightGreen;
        border-radius: 2px;
        box-shadow: 0px 0px 1px $colorLightGreen;
      }
      input[type=range]::-ms-fill-upper {
        background: $colorSlate;
        border: 0px solid $colorLightGreen;
        border-radius: 2px;
        box-shadow: 0px 0px 1px $colorLightGreen;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 1px $colorSlate;
        border: 1px solid $colorSlate;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: $colorLightGreen;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: $colorSlate;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: $colorSlate;
      }
}

//About Me section
