.contactSection {
    display:flex;
    flex-direction: column;
    
    & > div {
        display: flex;
        justify-content: space-between;
        // width: 100%;
    }

    .contactText {
        width: 50%;
    }

    form {
        display:flex;
        flex-direction: column;
    }
}