.contactSection {
    display:flex;
    flex-direction: column;
    height: calc(100vh - 100px); // Inclduing footer to achieve 100vh
    
    & > div {
        display: flex;
        flex-direction: column;
        color: $colorSlate;
    }

    .contactText {
        width: 60%;
        margin: 0 auto;

        & > p {
            margin: 30px 0;
            line-height: 2;
        }

        span {
           color:$colorLightGreen;
        }
    }

    form {
        width: 60%;
        margin: 0 auto;
        display:flex;
        flex-direction: column;

        .inputContainer {
            width: 100%;
        }

        button {
            font-size:1.2rem;
            padding: 10px 0;
            font-family:$fontSubTittle ;
            color:$colorLightGreen ;
            background-color: $colorDarkNavy;
            border: none;
        }
    }
}

.contactMethods {
    display:flex;

    li {
        display:inline;

        button{
            background-color:$colorNavy ;
            border:none;
        }

        i {
            color:$colorLightSlate;
            margin: 0 20px;
            cursor: pointer;
        }
    }
}

.inputContainer {
    position: relative;
    margin: 10px 0;

    input, textarea {
        width: 100%;
        margin:0;
        background-color: $colorSlate;
        border: none;
        font-family: $fontText;
        text-align: center;
        line-height: 2;
    }
    input:focus,
    textarea:focus {
        outline: none;
    }

    span {
        position: absolute;
        background-color: $colorLightGreen;
        transition: transform 0.5s ease;
    }

    .bottom,
    .top {
    height: 2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    }

    .left,
    .right {
    width: 2px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
    }

    .bottom {
        bottom: 0;
        transform-origin: bottom right;
    }

    input:focus ~ .bottom,
    textarea:focus ~ .bottom {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .right {
        right: 0;
        transform-origin: top right;
    }

    input:focus ~ .right,
    textarea:focus ~ .right {
        transform-origin: bottom right;
        transform: scaleY(1);
    }

    .top {
        top: 0;
        transform-origin: top left;
    }

    input:focus ~ .top,
    textarea:focus ~ .top {
        transform-origin: top right;
        transform: scaleX(1);
    }

    .left {
        left: 0;
        transform-origin: bottom left;
    }

    input:focus ~ .left,
    textarea:focus ~ .left {
        transform-origin: top left;
        transform: scaleY(1);
    }
}

@media (max-width: 1084px) {
    .contactSection {
        .contactText {
            width: 80%;
        }
    
        form {
            width: 80%;
        }
    }
}

@media (max-height: 850px) {
    .contactSection {
        .contactText {
            & > p {
                margin: 20px 0;
                line-height: 1.5;
            }
        }
    }
}