header {
    height: 100vh;

    nav {
        height: 20px;
        display:flex;
        justify-content: flex-end;

        ul {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

header li{
    list-style: none;
    margin-right: 10px;

    a{
        text-decoration: none;
    }
}