@import "variables";

header {
    height: 100vh;
    position:relative;

    .loadingPage {
        position: absolute;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        background-color: $colorNavy;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        
        
        .balls {
        width: 4em;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        }
        
        .balls div {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: $colorLightGreen;
        }
        
        .balls div:nth-of-type(1) {
        transform: translateX(-100%);
        animation: left-swing 0.5s ease-in alternate infinite;
        }
        
        .balls div:nth-of-type(3) {
        transform: translateX(-95%);
        animation: right-swing 0.5s ease-out alternate infinite;
        }
        
        @keyframes left-swing {
            50% {transform: translateX(95%);}
            100% {transform: translateX(95%);}
        }
        
        @keyframes right-swing {
            50% {transform: translateX(-95%);}
            100% {transform: translateX(100%);}
        }

        h2 {
            font-family: $fontTittle;
            color:$colorLightSlate;
            font-size: 2rem;
        }
    }

    .loadingPageHide {
        opacity: 0;
        animation: loadingPageHide 0.5s linear;
        z-index: -1;
    }

    @keyframes loadingPageHide {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }

    nav {
        width: 60vw;
        margin: 0 auto;
        height: 20px;
        display:flex;
        justify-content: center;

        ul {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: $fontText;
            height: 5vh;
            padding-left: 0;
            width: 100%;
        }
    }
}

header li{
    list-style: none;

    a{
        text-decoration: none;
        margin: 0 20px;
        color: $colorLightGreen;
        font-size: 1.2rem;
        padding: 3px 5px;
       
    }
}

.typingcontainer {
    width: 60vw;
    margin: 25vh auto 0;
    display:flex;
    justify-content: space-between;

    h2:nth-of-type(2) {
       margin-left: 200px;
    }

    P {
        color: $colorLightGreen;
        font-size: 1.2rem;
    }

    img {
        width:300px;
        height: 300px;
        align-self: center;
    }

    .printingArea::after {
        content: "|";
        animation: blinkSign 1s infinite;
    }

    @keyframes blinkSign {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
      }
}

@media (max-width:1440px) {
    .typingcontainer {
        width: 70vw;
    }
}

@media (max-width:1280px) {
    .typingcontainer {
        width: 80vw;
    }
}

@media (max-width:1024px) {
    .typingcontainer {
        margin: 15vh auto 0;
        flex-direction: column;
        align-items: center;

        img {
           margin-top: 5vh;
        }
    }
}

@media (max-width: 768px) {
    header {
        nav {
            width: 70vw;
        }
    }
}

@media (max-width: 600px) {
    header {
        nav {
            width: 80vw;
        }
    }
}

@media (max-width: 500px) {
    header {
        .typingcontainer {
            margin: 10vh auto 0;
          
            img {
                width:200px;
                height: 200px;
            }
        }
    }

    header li{
        a{
            font-size: 1rem;
        }
    }

    .typingcontainer h2:nth-of-type(2) {
        margin-left: 150px
    }
}

@media (max-width: 421px) {
    header li{
        a{
            margin: 0;
            font-size: 0.9rem;
            padding: 3px 5px;
        }
    }
}

@media (max-width: 375px) {
    .typingcontainer h2:nth-of-type(2) {
        margin-left: 120px
    }
}

