.projectSection {
    .videoContainer {
        position: relative;
        top: 10vh;
        width: 700px;

        .videoCover {
            position:absolute;
            background-color: rgba(168,178,209, 0.7);
            display:flex;
            justify-content: center;
            align-items: center;
            width: 700px;
            height: 393.75px;
        }

        video {
            width: 700px;
        }
    }
    img {
        width:40px;
        margin: 0 10px;
       
    }

    & > div {
        height:100vh;
        display:flex;
        flex-direction: column;
        position: relative;

        & >div {
            display:flex;
            flex-direction: column;
        }
    }

    h2 {
        opacity: 0;
        animation: titleHide 1s linear;
    }
}

@keyframes titleHide {
    0% {opacity: 1; }
    100% {opacity: 0; }
}

.projectSection .projectTittleShows {
    opacity: 1;
    animation: titleShow 1s linear;
}

@keyframes titleShow {
    0% {opacity: 0; }
    100% {opacity: 1; }
}

.projectDetails {
    position: relative;
    bottom:10vh;
    align-self: flex-end;
    width: calc(80vw - 800px); // 100px between it and video

    p, div {
        background-color: $colorDarkSlate;
    }

    P {
        margin: 0;
        padding: 20px ;
    }

    div {
        padding: 0 20px 20px 20px;
    }

    div:last-child {
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;
            color:$colorLightGreen;
            margin: 0 30px;
            padding: 5px 15px;
        }
    }
}

.projectDetails a:hover {
    background-color: $colorLightNavy;
}

.projectSection .videoCover h3 {
    color:$colorLightGreen;
}

.videoContainer:hover .videoCover {
    display:none;
}

.nextProjectLink {
    position:absolute;
    bottom: 5vh;
    font-family: $fontSubSubTittle;
    text-decoration: none;
    color:$colorLightGreen;

    i {
        position:absolute;
        margin-left: 15px;
        animation: downArrow 700ms linear infinite;
    }

    @keyframes downArrow {
        0% {bottom: 0;}
        50% {bottom: 10px;}
        100%{bottom: 0;}
    }
}

.projectSection {
    & > div:nth-child(even)  {
        .videoContainer{
            align-self: flex-end;
        }
        
        .projectDetails{
            align-self: flex-start;
        }
    
        .nextProjectLink {
            right:0;
        }
    }
}

