.projectSection {
    .videoContainer {
        width: 700px;

        .videoCover {
            position:absolute;
            width: 700px;
            height: 393.75px;
            margin: 0;
        }

        video {
            width: 700px;
        }
    }

    img {
        width:40px;
        margin: 0 10px;
       
    }

    & > div {
        position:relative;
        height:100vh;
        display:flex;
        flex-direction: column;

        & >div {
            margin-top: 15vh;
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    h2 {
        opacity: 0;
        animation: titleHide 1s linear;
    }
}

@keyframes titleHide {
    0% {opacity: 1; }
    100% {opacity: 0; }
}

.projectSection .projectTittleShows {
    opacity: 1;
    animation: titleShow 1s linear;
}

@keyframes titleShow {
    0% {opacity: 0; }
    100% {opacity: 1; }
}

.projectDetails {
    align-self: flex-end;
    width: calc(80vw - 800px); // 100px between it and video

    p, div {
        background-color: $colorDarkSlate;
    }

    P {
        margin: 0;
        padding: 20px ;
    }

    div {
        padding: 0 20px 20px;
    }

    div:last-child {
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;
            color:$colorLightGreen;
            margin: 0 30px;
            padding: 5px 15px;
            border-radius: 5px;

            &:hover {
                color:$colorPink;
            }

            &:active {
                color:$colorBlue;
            }
        }
    }

    a {
        text-decoration: none;
        color:$colorLightGreen;
        padding: 0 5px;
    }
}

.projectDetails a:hover {
    background-color: $colorLightNavy;
}

.projectSection .videoCover h3 {
    color:$colorLightGreen;
}

.videoContainer:hover .videoCover {
    display:none;
}

.nextProjectLink {
    position:absolute;
    right: 0;
    bottom: 5vh;
    font-family: $fontSubSubTittle;
    text-decoration: none;
    color:$colorLightGreen;

    
        &:hover {
            color:$colorPink;
        }

        &:active {
            color:$colorBlue;
        }

    i {
        position:absolute;
        margin-left: 15px;
        animation: downArrow 700ms linear infinite;
    }

    @keyframes downArrow {
        0% {bottom: 0;}
        50% {bottom: 10px;}
        100%{bottom: 0;}
    }
}

.movingVideoContainerToCenter{
    margin: 0 auto;
    transform: scale(1.5);
    animation: movingVideoContainerToCenter 1s linear;
}

@keyframes movingVideoContainerToCenter {
    0% {margin: 0; transform: scale(1);}
    50% {margin: 0 0 0 22vw; transform: scale(1.25);}
    100% { margin: 0 auto;transform: scale(1.5);}
}


@media (min-width:1920px) {
    .projectDetails {
        width: 786px;
    }
}

@media (max-width: 1856px) {
    .projectDetails {
        align-self: flex-end;
        width: calc(80vw - 750px); // 50px between it and video

        h3 {
            margin: 10px 0;
        }
    }
}

@media (max-width: 1634px){
    // .projectSection {
    //     & > div {
    //         & >div {
    //             margin-top: 0;
    //            flex-direction: column;
    //            align-items: center;
    //         }
    //     }

    //     .videoContainer {
    //         width: 80vw;
    //         display:flex;
    //         justify-content: center;
    //         background-color: $colorDarkSlate;
    //     }
    // }

    // .projectDetails {
    //     width: 80vw;

    //     div {
    //         padding: 0 20px 10px;
    //     }
    // }

    .projectSection {
        .videoContainer {
            width: 600px;
    
            .videoCover {
                width: 600px;
                height: 337.5px;
            }
    
            video {
                width: 600px;
            }
        }
        img {
            width:30px;
            margin: 0 5px; 
        }
    }

    .projectDetails {
        width: calc(80vw - 650px); // 100px between it and video
    }
}

@media (max-width: 1550px){
    .projectSection {
        .videoContainer {
            width: 500px;
    
            .videoCover {
                width: 500px;
                height: 281.25px;
            }
    
            video {
                width: 500px;
            }
        }
    }

    .projectDetails {
        width: calc(80vw - 550px); // 100px between it and video
    }

    .movingVideoContainerToCenter{
        transform: scale(1.7);
    }

    @keyframes movingVideoContainerToCenter {
        0% {margin: 0; transform: scale(1);}
        50% {margin: 0 0 0 22vw; transform: scale(1.35);}
        100% { margin: 0 auto;transform: scale(1.7);}
    }
}

@media (max-width: 1280px){
    .projectSection {
        .videoContainer {
            width: 400px;
            align-self: center;
    
            .videoCover {
                width: 400px;
                height: 225px;
            }
    
            video {
                width: 400px;
            }
        }
    }

    .projectDetails {
        width: calc(80vw - 450px); // 100px between it and video
    }

    .movingVideoContainerToCenter{
        transform: scale( 1.8);
    }

    @keyframes movingVideoContainerToCenter {
        0% {margin: 0; transform: scale(1);}
        50% {margin: 0 0 0 22vw; transform: scale(1.4);}
        100% { margin: 0 auto;transform: scale(1.8);}
    }
}

@media (max-width: 1024px){
 .projectSection {
        & > div {
            & >div {
                margin-top: 0;
               flex-direction: column;
               align-items: center;
            }
        }

        .videoContainer {
            display:flex;
            justify-content: center;
            width: 700px;

            .videoCover {
                position:absolute;
                width: 700px;
                height: 393.75px;
                margin: 0;
            }
    
            video {
                width: 700px;
            }
        }
    }

    .projectDetails {
        width: 700px;
        align-self: center;

        div {
            padding: 0 20px 10px;
            margin:0;
        }
    }

    .movingVideoContainerToCenter{
        transform: scale(1);
        margin: 0 ;
    }

    @keyframes movingVideoContainerToCenter {
        0% {margin: 0; transform: scale(1);}
        50% {  margin: 0 ; transform: scale(1);}
        100% {   margin: 0 ; transform: scale(1);}
    }
}

@media (max-width: 875px) {
    .projectSection {
        .videoContainer {
            width: 600px;
    
            .videoCover {
                width: 600px;
                height: 337.5px;
            }
    
            video {
                width: 600px;
            }
        }
        img {
            width:30px;
            margin: 0 5px; 
        }
    }

    .projectDetails {
        align-self: center;
        width: 600px;
    }

    .nextProjectLink {
        right: 50px;
    }
}

@media (max-height: 874px) and (min-width: 1024px) {
    .projectSection {
        & > div {
            & >div {
                margin-top: 0;
               flex-direction: row;
            }
        }

        .videoContainer {
            width: 300px;

            .videoCover {
                position:absolute;
                width: 300px;
                height: 168.75px;
                margin: 0;
            }
    
            video {
                width: 300px;
            }
        }
    }

    .projectDetails {
        width: calc(80vw - 350px);
        align-self: center;

        div {
            padding: 0 20px 10px;
            margin:0;
        }
    }

    .movingVideoContainerToCenter{
        transform: scale(1.5);
        margin: 100px auto 0;
    }

    @keyframes movingVideoContainerToCenter {
        0% {margin: 0; transform: scale(1);}
        50% {  margin:  50px 0 0 20vw ; transform: scale(1.25);}
        100% {   margin: 100px  auto 0; transform: scale(1.5);}
    }
}

@media (max-width: 720px) {
    .projectSection {
        .videoContainer {
            width: 500px;
    
            .videoCover {
                width: 500px;
                height: 281.25px;
            }
    
            video {
                width: 500px;
            }
        }
    }

    .projectDetails {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .projectSection {
        .videoContainer {
            width: 400px;
    
            .videoCover {
                width: 400px;
                height: 225px;
            }
    
            video {
                width: 400px;
            }
        }
    }

    .projectDetails {
        width: 400px;
    }
}

@media (max-width: 421px) {
    .projectSection {
        .videoContainer {
            width: 300px;
    
            .videoCover {
                width: 300px;
                height: 168.75px;
            }
    
            video {
                width: 300px;
            }
        }
    }

    .projectDetails {
        width: 300px;
    }
}

@media (max-width: 421px) {
    .projectSection {
        .videoContainer {
            width: 300px;
    
            .videoCover {
                width: 300px;
                height: 168.75px;
            }
    
            video {
                width: 300px;
            }
        }
    }

    .projectDetails {
        width: 300px;
    }
}

@media (max-width: 360px) {
    .projectSection {
        .videoContainer {
            width: 250px;
    
            .videoCover {
                width: 250px;
                height: 140.64px;
            }
    
            video {
                width: 250px;
            }
        }
        img {
            width:15px;
            margin: 0 2px; 
        }
    }

    .projectDetails {
        width: 250px;
    }
}


