$colorLightNavy:#112240;
$colorNavy: #0a192f;
$colorDarkNavy:#020c1b;
$colorLightSlate:#ccd6f6;
$colorSlate:#a8b2d1;
$colorDarkSlate:#8892b0;
$colorLightGreen:#64ffda;
$colorBlue:#57cbff;
$colorBurntCoral:#E9897E;
$colorPink:#ffa7d7;
$colorGrey: #7a7a7a;
$colorDarkGrey: #5a5a5a;

$fontText: 'Crimson Pro', serif;
$fontSubTitle:'Press Start 2P', cursive;
$fontSubSubTittle:'Audiowide', cursive;
$fontTittle:'Monoton', cursive;