$colorLightNavy:#112240;
$colorNavy: #0a192f;
$colorDarkNavy:#020c1b;
$colorLightSlate:#ccd6f6;
$colorSlate:#a8b2d1;
$colorDarkSlate:#8892b0;
$colorLightGreen:#64ffda;

$fontText: 'Crimson Pro', serif;
$fontSubTittle: 'Inter', sans-serif;
$fontSubSubTittle: 'Lato', sans-serif;
$fontTittle:'Monoton', cursive;