@import "normalization";
@import "header";
@import "aside";
@import "aboutSection";
@import "projectSection";
@import "contactMe";
@import "variables";
@import "footer";



html {
    font-size: 125%;
    
}

body {
    max-width: 1920px;
    background-color: $colorNavy;
    margin: 0 auto;
    overflow-x: hidden;
}

.maxWidth {
    max-width: 1920px;
    margin: 0 auto;
}

.mainWrapper {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: $fontTittle;
    color:$colorLightSlate;
    font-size: 2rem;
}

h2 {
    font-family: $fontSubTittle;
    color:$colorSlate;
    font-size: 1.8rem;
}

.aboutSection h2,
.projectSection h2,
.skillSection h2,
.contactSection h2 {
    color:$colorLightSlate;
    margin: 0;
    height: 15vh;
    padding-top: 5vh;
}

h3 {
    font-family: $fontSubSubTittle;
    color:$colorDarkSlate;
    font-size: 1.5rem;
}


p {
    font-family: $fontText;
}

.copyPop {
    opacity: 0;
    display:none;
    height: 100px;
    width: 600px;
    position:fixed;
    top: calc(50vh - 50px);
    left:calc(50vw - 300px);
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $colorLightSlate;
    animation: popWindowHide 3s linear;

    p {
        font-family: $fontSubSubTittle;
        color:$colorLightNavy;
    }

    @keyframes popWindowHide {
        0% {opacity: 1; display:block;}
        99% {opacity: 0; display:block;}
        100% {opacity: 0; display:none;}
    }
}

@media (min-width:1920px) {
    body {
        overflow-x:auto;
    }

    .mainWrapper {
        width: 1536px;
        margin: 0 auto;
    }
}

@media (max-height: 1050px) {
    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2 {
        height: 10vh;
        padding-top: 4vh;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .copyPop {
        width: 400px;
        left:calc(50vw - 200px);
        padding: 0 10px;
    }
}



@media (max-width: 500px) {
    h1 {
        font-size: 1.4rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem; 
    }

    .copyPop {
        width: 300px;
        left:calc(50vw - 150px);
        padding: 0 10px;
    }
}

@media (max-width: 414px) {
    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 375px) {
    p {
        font-size: 0.65rem; 
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.6rem; 
    }
}



