@import "normalization";
@import "header";
@import "aside";
@import "aboutSection";
@import "projectSection";
@import "skillSection";
@import "contactMe";
@import "variables";



html {
    font-size: 125%;
    max-width: 1920px;
    background-color: $colorNavy;
}

.mainWrapper {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: 'Monoton', cursive;
    color:$colorLightSlate;
    font-size: 2rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    color:$colorSlate;
    font-size: 1.8rem;
}
h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Crimson Pro', serif;
}