@import "normalization";
@import "header";
@import "aside";
@import "aboutSection";
@import "projectSection";
@import "contactMe";
@import "variables";
@import "footer";



html {
    font-size: 125%;
    
}

body {
    max-width: 1920px;
    background-color: $colorDarkGrey;
    margin: 0 auto;
    overflow-x: hidden;
}

.maxWidth {
    max-width: 1920px;
    margin: 0 auto;
}

.mainWrapper {
    width: 80vw;
    margin: 0 auto;
}

// Skip to main 
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
  }
  
  .skip-link:focus {
    left: 0;
}

h1 {
    font-family: $fontTittle;
    color:white;
    font-size: 2rem;
}

h2 {
    font-family: $fontSubTitle;
    color:white;
    font-size: 1.3rem;
}

.aboutSection h2,
.projectSection h2,
.skillSection h2,
.contactSection h2 {
    color:white;
    margin: 0;
    height: 100px;
    padding-top: 30px;
}

h3 {
    font-family: $fontSubSubTittle;
    color:white;
    font-size: 1.5rem;
}


p {
    font-family: $fontText;
}

.copyPop {
    opacity: 0;
    display:none;
    height: 100px;
    width: 600px;
    position:fixed;
    top: calc(50vh - 50px);
    left:calc(50vw - 300px);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $colorLightSlate;
    animation: popWindowHide 3s linear;

    p {
        font-family: $fontSubSubTittle;
        color:$colorLightNavy;
    }

    @keyframes popWindowHide {
        0% {opacity: 1; display:block;}
        99% {opacity: 0; display:block;}
        100% {opacity: 0; display:none;}
    }
}

@media (min-width:1920px) {
    body {
        overflow-x:auto;
    }

    .mainWrapper {
        width: 1536px;
        margin: 0 auto;
    }
}

@media (max-width: 1920px) and (min-height: 2000px){
    p {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

@media (max-width: 1110px) {
    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2,
    .typingcontainer h2 {
        font-size: 1rem;
        height:90px;
    }
}

@media(max-width: 956px) {
    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2,
    .typingcontainer h2 {
        font-size: 0.8rem;
        height: 80px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 0.7rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .copyPop {
        width: 400px;
        left:calc(50vw - 200px);
        padding: 0 10px;
    }

    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2,
    .typingcontainer h2 {
        font-size: 0.7rem;
        height: 80px;
    }
}

@media  (max-width: 525px) {
    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2,
    .typingcontainer h2 {
        font-size: 0.6rem;
        height: 60px;
        padding-top: 20px;
    }
}



@media (max-width: 500px) {
    h1 {
        font-size: 1.4rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem; 
    }

    .copyPop {
        width: 300px;
        left:calc(50vw - 150px);
        padding: 0 10px;
    }
}

@media (max-width: 414px) {
    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }
}

@media  (max-width: 385px) {
    .aboutSection h2,
    .projectSection h2,
    .skillSection h2,
    .contactSection h2,
    .typingcontainer h2 {
        font-size: 0.5rem;
        height: 50px;
        padding-top: 15px;
    }
}

@media (max-width: 375px) {
    p {
        font-size: 0.65rem; 
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.6rem; 
    }
}



