html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 100vh;
  position: relative;
}

header .loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0a192f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header .loadingPage .balls {
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .loadingPage .balls div {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #64ffda;
}

header .loadingPage .balls div:nth-of-type(1) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: left-swing 0.5s ease-in alternate infinite;
          animation: left-swing 0.5s ease-in alternate infinite;
}

header .loadingPage .balls div:nth-of-type(3) {
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  -webkit-animation: right-swing 0.5s ease-out alternate infinite;
          animation: right-swing 0.5s ease-out alternate infinite;
}

@-webkit-keyframes left-swing {
  50% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }
  100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }
}

@keyframes left-swing {
  50% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }
  100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }
}

@-webkit-keyframes right-swing {
  50% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes right-swing {
  50% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

header .loadingPage h2 {
  font-family: "Monoton", cursive;
  color: #ccd6f6;
  font-size: 2rem;
}

header .loadingPageHide {
  opacity: 0;
  -webkit-animation: loadingPageHide 0.5s linear;
          animation: loadingPageHide 0.5s linear;
  z-index: -1;
}

@-webkit-keyframes loadingPageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingPageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header nav {
  width: 60vw;
  margin: 0 auto;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Crimson Pro", serif;
  height: 5vh;
  padding-left: 0;
  width: 100%;
}

header li {
  list-style: none;
}

header li a {
  text-decoration: none;
  margin: 0 20px;
  color: #64ffda;
  font-size: 1.2rem;
  padding: 5px 10px;
}

header li a:hover {
  background-color: #8892b0;
  color: #f57dff;
}

header li a:active {
  color: #57cbff;
}

.typingcontainer {
  width: 60vw;
  margin: 25vh auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.typingcontainer h2:nth-of-type(2) {
  margin-left: 200px;
}

.typingcontainer P {
  color: #64ffda;
  font-size: 1.2rem;
}

.typingcontainer img {
  width: 300px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.typingcontainer .printingArea::after {
  content: "|";
  -webkit-animation: blinkSign 1s infinite;
          animation: blinkSign 1s infinite;
}

@-webkit-keyframes blinkSign {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinkSign {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  header nav {
    width: 1152px;
  }
  header .loadingPage {
    width: 1920px;
    margin: 0 auto;
  }
  .typingcontainer {
    width: 1152px;
  }
}

@media (max-width: 1440px) {
  .typingcontainer {
    width: 70vw;
  }
}

@media (max-width: 1280px) {
  .typingcontainer {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  .typingcontainer {
    margin: 15vh auto 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .typingcontainer img {
    margin-top: 5vh;
  }
}

@media (max-width: 768px) {
  header nav {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  header nav {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  header .typingcontainer {
    margin: 10vh auto 0;
  }
  header .typingcontainer img {
    width: 200px;
    height: 200px;
  }
  header li a {
    font-size: 1rem;
  }
  .typingcontainer h2:nth-of-type(2) {
    margin-left: 150px;
  }
}

@media (max-width: 421px) {
  header li a {
    margin: 0;
    font-size: 0.9rem;
    padding: 3px 5px;
  }
}

@media (max-width: 375px) {
  .typingcontainer h2:nth-of-type(2) {
    margin-left: 120px;
  }
}

.navContainer {
  position: fixed;
  z-index: 1;
}

.navContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 200px;
  width: 40px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navContainer ul li {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  color: #ccd6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navContainer ul li:hover i {
  color: #64ffda;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navContainer ul li:active i {
  color: #57cbff;
}

.navContainer a, .navContainer button {
  color: #ccd6f6;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.navContainer a {
  font-size: 1.2rem;
}

.navContainer p {
  display: none;
  position: absolute;
  margin: 0;
  top: 6px;
  border: 1px solid #64ffda;
  background-color: #112240;
  text-align: center;
}

.followmeBarAside {
  opacity: 1;
  top: 0;
  left: 0;
  margin: 0 0 0 20px;
  -webkit-animation: navBarAsideShow 1s linear;
          animation: navBarAsideShow 1s linear;
}

.followmeBarAside > div {
  height: 100px;
  border-left: 1px solid #a8b2d1;
}

.followmeBarAside p {
  left: 40px;
  width: 210px;
}

.leftArrow {
  position: absolute;
  top: 3px;
  left: 7px;
  -webkit-animation: leftArrow 700ms linear infinite;
          animation: leftArrow 700ms linear infinite;
}

@-webkit-keyframes leftArrow {
  0% {
    left: 7px;
  }
  50% {
    left: 2px;
  }
  100% {
    left: 7px;
  }
}

@keyframes leftArrow {
  0% {
    left: 7px;
  }
  50% {
    left: 2px;
  }
  100% {
    left: 7px;
  }
}

.navBarAside {
  opacity: 0;
  bottom: 0;
  right: 0;
  margin: 0 20px 0 0;
  -webkit-animation: navBarAsideHide 1s linear;
          animation: navBarAsideHide 1s linear;
}

.navBarAside > div {
  height: 100px;
  border-right: 1px solid #a8b2d1;
}

.navBarAside p {
  right: 50px;
  width: 140px;
}

.asideShow {
  opacity: 1;
  -webkit-animation: navBarAsideShow 1s linear;
          animation: navBarAsideShow 1s linear;
}

.asideHide {
  opacity: 0;
  -webkit-animation: navBarAsideHide 1s linear;
          animation: navBarAsideHide 1s linear;
}

@-webkit-keyframes navBarAsideShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navBarAsideShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navBarAsideHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes navBarAsideHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rightArrow {
  position: absolute;
  top: 3px;
  right: 7px;
  -webkit-animation: rightArrow 700ms linear infinite;
          animation: rightArrow 700ms linear infinite;
}

@-webkit-keyframes rightArrow {
  0% {
    right: 7px;
  }
  50% {
    right: 2px;
  }
  100% {
    right: 7px;
  }
}

@keyframes rightArrow {
  0% {
    right: 7px;
  }
  50% {
    right: 2px;
  }
  100% {
    right: 7px;
  }
}

.linkedinLinkContainer:hover .linkedinLinkPrompt,
.githubLinkContainer:hover .githubLinkPrompt,
.twitterLinkContainer:hover .twitterLinkPrompt,
.emailButtonContainer:hover .emailButtonPrompt,
.resumeButtonContainer:hover .resumeButtonPrompt,
.headerLinkContainer:hover .headerLinkPrompt,
.aboutLinkContainer:hover .aboutLinkPrompt,
.projectLinkContainer:hover .projectLinkPrompt,
.skillLinkContainer:hover .skillLinkPrompt,
.contactLinkContainer:hover .contactLinkPrompt {
  display: block;
  -webkit-animation: asideDropdownShowing 700ms linear;
          animation: asideDropdownShowing 700ms linear;
}

@-webkit-keyframes asideDropdownShowing {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes asideDropdownShowing {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media (min-width: 1920px) {
  .followmeBarAside {
    margin: 0 0 0 calc((50vw - 960px) + 10px);
  }
  .navBarAside {
    margin: 0 calc((50vw - 960px) + 10px) 0 0;
  }
}

@media (max-width: 500px) {
  .followmeBarAside {
    margin: 0 0 0 10px;
  }
  .navBarAside {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 421px) {
  .followmeBarAside {
    margin: 0 0 0 5px;
  }
  .navBarAside {
    margin: 0 5px 0 0;
  }
}

@media (max-width: 375px) {
  .followmeBarAside {
    margin: 0;
  }
  .navBarAside {
    margin: 0;
  }
}

.aboutSection {
  position: relative;
  height: 100vh;
}

.aboutSection .profile {
  width: 70vw;
  margin: 0 auto;
  display: block;
}

.aboutSection .education,
.aboutSection .skillSection {
  margin: 0 auto;
  display: none;
}

.aboutSection .education {
  width: 70vw;
}

.aboutSection h3 {
  margin-bottom: 60px;
}

.profile > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile > div img {
  height: 350px;
  margin-right: 2vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile > div .profileText {
  background-color: #8892b0;
  padding: 5px 20px;
  color: #020c1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profile > div span {
  color: #64ffda;
}

.profile > div p {
  margin: 0;
}

.education > div {
  background-color: #8892b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.education > div img {
  width: 100px;
  margin: 0 50px 0 30px;
}

.education > div p {
  padding: 5px;
  margin: 0;
  color: #020c1b;
}

.education > div span {
  font-weight: bolder;
}

.skillSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
}

.skillSection ul li {
  width: 13%;
  height: 210px;
  list-style: none;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8892b0;
}

.skillSection ul li:last-child img {
  width: 30%;
}

.skillSection img {
  width: 50%;
  margin: 20px 0 10px;
}

.skillSection p {
  text-align: center;
  margin: 10px 3px 20px;
}

.pulseEffect {
  z-index: 1;
  position: relative;
}

.pulseEffect::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #8892b0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pulseEffect:hover::before {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  opacity: 0;
  -webkit-animation: pulseEffect 1s;
          animation: pulseEffect 1s;
}

@-webkit-keyframes pulseEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0;
  }
}

@keyframes pulseEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0;
  }
}

.jellyEffect:hover {
  -webkit-animation: jellyEffect 0.5s;
          animation: jellyEffect 0.5s;
}

@-webkit-keyframes jellyEffect {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes jellyEffect {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.shineEffect {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.shineEffect::after {
  content: '';
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  -webkit-transform: translate3d(-800%, 0, 0) rotate(35deg);
          transform: translate3d(-800%, 0, 0) rotate(35deg);
}

.shineEffect:hover::after {
  -webkit-animation: shineEffect 1s;
          animation: shineEffect 1s;
}

@-webkit-keyframes shineEffect {
  0% {
    -webkit-transform: translate3d(-800%, 0, 0) rotate(35deg);
            transform: translate3d(-800%, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(700%, 0, 0) rotate(35deg);
            transform: translate3d(700%, 0, 0) rotate(35deg);
  }
}

@keyframes shineEffect {
  0% {
    -webkit-transform: translate3d(-800%, 0, 0) rotate(35deg);
            transform: translate3d(-800%, 0, 0) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(700%, 0, 0) rotate(35deg);
            transform: translate3d(700%, 0, 0) rotate(35deg);
  }
}

.aboutSectionRange {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.aboutSectionRange div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.aboutSectionRange div p {
  font-family: "Inter", sans-serif;
  color: #ccd6f6;
  width: 100px;
}

.aboutSectionRange div P:nth-child(2) {
  text-align: center;
}

.aboutSectionRange div p:last-child {
  text-align: end;
}

.aboutSectionRange input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 25%;
  background-color: #0a192f;
}

.aboutSectionRange input[type=range]:focus {
  outline: none;
}

.aboutSectionRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  -webkit-box-shadow: 0px 0px 1px #64ffda;
          box-shadow: 0px 0px 1px #64ffda;
  background: #a8b2d1;
  border-radius: 1px;
}

.aboutSectionRange input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 1px #a8b2d1;
          box-shadow: 0px 0px 1px #a8b2d1;
  border: 1px solid #a8b2d1;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #64ffda;
  -webkit-appearance: none;
  margin-top: -7px;
}

.aboutSectionRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a8b2d1;
}

.aboutSectionRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  box-shadow: 0px 0px 1px #64ffda;
  background: #a8b2d1;
  border-radius: 1px;
}

.aboutSectionRange input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #a8b2d1;
  border: 1px solid #a8b2d1;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #64ffda;
}

.aboutSectionRange input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.aboutSectionRange input[type=range]::-ms-fill-lower {
  background: #a8b2d1;
  border: 0px solid #64ffda;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #64ffda;
}

.aboutSectionRange input[type=range]::-ms-fill-upper {
  background: #a8b2d1;
  border: 0px solid #64ffda;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #64ffda;
}

.aboutSectionRange input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 1px #a8b2d1;
  border: 1px solid #a8b2d1;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #64ffda;
}

.aboutSectionRange input[type=range]:focus::-ms-fill-lower {
  background: #a8b2d1;
}

.aboutSectionRange input[type=range]:focus::-ms-fill-upper {
  background: #a8b2d1;
}

@media (min-width: 1920px) {
  .aboutSection .profile {
    width: 1344px;
  }
  .aboutSection .education {
    width: 1344px;
  }
  .profile > div img {
    margin-right: 38.4px;
  }
}

@media (max-width: 1600px) {
  .aboutSection .profile {
    width: 80vw;
  }
}

@media (max-width: 1280px) {
  .aboutSection .education {
    width: 80vw;
  }
  .profile > div p {
    margin: 10px;
  }
  .education > div {
    padding: 10px;
  }
  .skillSection ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skillSection ul li {
    height: 160px;
    width: 15%;
    margin-bottom: 2vh;
  }
  .skillSection img {
    width: 40%;
    margin: 10px 0 5px;
  }
  .skillSection p {
    font-size: 0.9rem;
    text-align: center;
    margin: 5px 3px 10px;
  }
  .aboutSectionRange div {
    width: 35%;
  }
}

@media (max-width: 1062px) {
  .aboutSection h3 {
    margin-bottom: 20px;
  }
  .profile > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile > div img {
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .skillSection ul li {
    height: 130px;
    width: 18%;
  }
}

@media (max-height: 1000px) {
  .aboutSection .profile {
    width: 80vw;
  }
  .aboutSection h3 {
    margin-bottom: 20px;
  }
  .aboutSection .education {
    width: 80vw;
  }
}

@media (max-width: 830px) {
  .aboutSectionRange div {
    width: 40%;
  }
  .skillSection ul li {
    width: 21%;
  }
  .aboutSectionRange div {
    display: none;
  }
}

@media (max-width: 719px) {
  .profile > div img {
    display: none;
  }
}

@media (max-width: 604px) {
  .education > div {
    padding: 10px;
  }
  .education > div img {
    width: 80px;
    margin: 0 10px;
  }
  .education > div p {
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .skillSection ul li {
    height: 100px;
    width: 24%;
    margin-bottom: 10px;
  }
  .skillSection p {
    font-size: 0.8rem;
  }
  .aboutSectionRange input[type=range] {
    width: 40%;
  }
}

@media (max-width: 421px) {
  .profile > div p {
    margin: 5px;
  }
  .education > div {
    padding: 10px;
  }
  .education > div img {
    width: 60px;
    margin: 0 10px;
  }
  .education > div p {
    padding: 2px;
  }
  .skillSection p {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .profile > div p {
    margin: 2px;
  }
  .education > div img {
    width: 40px;
    margin: 0 5px;
  }
  .education > div p {
    padding: 2px;
  }
  .skillSection ul li {
    height: 90px;
    width: 30%;
    margin-bottom: 5px;
  }
}

@media (max-width: 360px) {
  .skillSection ul li {
    height: 80px;
    width: 30%;
    margin-bottom: 5px;
  }
  .skillSection p {
    font-size: 0.65rem;
  }
}

@media (max-width: 320px) {
  .skillSection ul li {
    height: 70px;
    width: 31%;
    margin-bottom: 3px;
  }
  .skillSection p {
    font-size: 0.6rem;
  }
}

.projectSection .videoContainer {
  width: 700px;
}

.projectSection .videoContainer .videoCover {
  position: absolute;
  width: 700px;
  height: 393.75px;
  margin: 0;
}

.projectSection .videoContainer video {
  width: 700px;
}

.projectSection img {
  width: 40px;
  margin: 0 10px;
}

.projectSection > div {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectSection > div > div {
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projectSection h2 {
  opacity: 0;
  -webkit-animation: titleHide 1s linear;
          animation: titleHide 1s linear;
}

@-webkit-keyframes titleHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.projectSection .projectTittleShows {
  opacity: 1;
  -webkit-animation: titleShow 1s linear;
          animation: titleShow 1s linear;
}

@-webkit-keyframes titleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projectDetails {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: calc(80vw - 800px);
}

.projectDetails p, .projectDetails div {
  background-color: #8892b0;
}

.projectDetails P {
  margin: 0;
  padding: 20px;
}

.projectDetails div {
  padding: 0 20px 20px;
}

.projectDetails div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectDetails div:last-child a {
  text-decoration: none;
  color: #64ffda;
  margin: 0 30px;
  padding: 5px 15px;
}

.projectDetails div:last-child a:hover {
  color: #f57dff;
}

.projectDetails div:last-child a:active {
  color: #57cbff;
}

.projectDetails a {
  text-decoration: none;
  color: #64ffda;
  padding: 0 5px;
}

.projectDetails a:hover {
  background-color: #112240;
}

.projectSection .videoCover h3 {
  color: #64ffda;
}

.videoContainer:hover .videoCover {
  display: none;
}

.nextProjectLink {
  position: absolute;
  right: 0;
  bottom: 5vh;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #64ffda;
}

.nextProjectLink:hover {
  color: #f57dff;
}

.nextProjectLink:active {
  color: #57cbff;
}

.nextProjectLink i {
  position: absolute;
  margin-left: 15px;
  -webkit-animation: downArrow 700ms linear infinite;
          animation: downArrow 700ms linear infinite;
}

@-webkit-keyframes downArrow {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes downArrow {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

.movingVideoContainerToCenter {
  margin: 0 auto;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: movingVideoContainerToCenter 1s linear;
          animation: movingVideoContainerToCenter 1s linear;
}

@-webkit-keyframes movingVideoContainerToCenter {
  0% {
    margin: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    margin: 0 0 0 22vw;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    margin: 0 auto;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes movingVideoContainerToCenter {
  0% {
    margin: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    margin: 0 0 0 22vw;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    margin: 0 auto;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 1920px) {
  .projectDetails {
    width: 786px;
  }
}

@media (max-width: 1856px) {
  .projectDetails {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: calc(80vw - 750px);
  }
  .projectDetails h3 {
    margin: 10px 0;
  }
}

@media (max-width: 1634px) {
  .projectSection .videoContainer {
    width: 600px;
  }
  .projectSection .videoContainer .videoCover {
    width: 600px;
    height: 337.5px;
  }
  .projectSection .videoContainer video {
    width: 600px;
  }
  .projectSection img {
    width: 30px;
    margin: 0 5px;
  }
  .projectDetails {
    width: calc(80vw - 650px);
  }
}

@media (max-width: 1550px) {
  .projectSection .videoContainer {
    width: 500px;
  }
  .projectSection .videoContainer .videoCover {
    width: 500px;
    height: 281.25px;
  }
  .projectSection .videoContainer video {
    width: 500px;
  }
  .projectDetails {
    width: calc(80vw - 550px);
  }
  .movingVideoContainerToCenter {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  @-webkit-keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0 0 0 22vw;
      -webkit-transform: scale(1.35);
              transform: scale(1.35);
    }
    100% {
      margin: 0 auto;
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
    }
  }
  @keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0 0 0 22vw;
      -webkit-transform: scale(1.35);
              transform: scale(1.35);
    }
    100% {
      margin: 0 auto;
      -webkit-transform: scale(1.7);
              transform: scale(1.7);
    }
  }
}

@media (max-width: 1280px) {
  .projectSection .videoContainer {
    width: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectSection .videoContainer .videoCover {
    width: 400px;
    height: 225px;
  }
  .projectSection .videoContainer video {
    width: 400px;
  }
  .projectDetails {
    width: calc(80vw - 450px);
  }
  .movingVideoContainerToCenter {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  @-webkit-keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0 0 0 22vw;
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      margin: 0 auto;
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
    }
  }
  @keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0 0 0 22vw;
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      margin: 0 auto;
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
    }
  }
}

@media (max-width: 1024px) {
  .projectSection > div > div {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectSection .videoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 700px;
  }
  .projectSection .videoContainer .videoCover {
    position: absolute;
    width: 700px;
    height: 393.75px;
    margin: 0;
  }
  .projectSection .videoContainer video {
    width: 700px;
  }
  .projectDetails {
    width: 700px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectDetails div {
    padding: 0 20px 10px;
    margin: 0;
  }
  .movingVideoContainerToCenter {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: 0;
  }
  @-webkit-keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}

@media (max-width: 875px) {
  .projectSection .videoContainer {
    width: 600px;
  }
  .projectSection .videoContainer .videoCover {
    width: 600px;
    height: 337.5px;
  }
  .projectSection .videoContainer video {
    width: 600px;
  }
  .projectSection img {
    width: 30px;
    margin: 0 5px;
  }
  .projectDetails {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 600px;
  }
  .nextProjectLink {
    right: 50px;
  }
}

@media (max-height: 874px) and (min-width: 1024px) {
  .projectSection > div > div {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projectSection .videoContainer {
    width: 300px;
  }
  .projectSection .videoContainer .videoCover {
    position: absolute;
    width: 300px;
    height: 168.75px;
    margin: 0;
  }
  .projectSection .videoContainer video {
    width: 300px;
  }
  .projectDetails {
    width: calc(80vw - 350px);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectDetails div {
    padding: 0 20px 10px;
    margin: 0;
  }
  .movingVideoContainerToCenter {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin: 100px auto 0;
  }
  @-webkit-keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 50px 0 0 20vw;
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
    100% {
      margin: 100px  auto 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes movingVideoContainerToCenter {
    0% {
      margin: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      margin: 50px 0 0 20vw;
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
    100% {
      margin: 100px  auto 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
}

@media (max-width: 720px) {
  .projectSection .videoContainer {
    width: 500px;
  }
  .projectSection .videoContainer .videoCover {
    width: 500px;
    height: 281.25px;
  }
  .projectSection .videoContainer video {
    width: 500px;
  }
  .projectDetails {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .projectSection .videoContainer {
    width: 400px;
  }
  .projectSection .videoContainer .videoCover {
    width: 400px;
    height: 225px;
  }
  .projectSection .videoContainer video {
    width: 400px;
  }
  .projectDetails {
    width: 400px;
  }
}

@media (max-width: 421px) {
  .projectSection .videoContainer {
    width: 300px;
  }
  .projectSection .videoContainer .videoCover {
    width: 300px;
    height: 168.75px;
  }
  .projectSection .videoContainer video {
    width: 300px;
  }
  .projectDetails {
    width: 300px;
  }
}

@media (max-width: 421px) {
  .projectSection .videoContainer {
    width: 300px;
  }
  .projectSection .videoContainer .videoCover {
    width: 300px;
    height: 168.75px;
  }
  .projectSection .videoContainer video {
    width: 300px;
  }
  .projectDetails {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .projectSection .videoContainer {
    width: 250px;
  }
  .projectSection .videoContainer .videoCover {
    width: 250px;
    height: 140.64px;
  }
  .projectSection .videoContainer video {
    width: 250px;
  }
  .projectSection img {
    width: 15px;
    margin: 0 2px;
  }
  .projectDetails {
    width: 250px;
  }
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 100px);
}

.contactSection > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a8b2d1;
}

.contactSection .contactText {
  width: 60%;
  margin: 0 auto;
}

.contactSection .contactText > p {
  margin: 30px 0;
  line-height: 2;
}

.contactSection .contactText span {
  color: #64ffda;
}

.contactSection form {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactSection form .inputContainer {
  width: 100%;
}

.contactSection form button {
  font-size: 1.2rem;
  padding: 10px 0;
  font-family: "Inter", sans-serif;
  color: #64ffda;
  background-color: #020c1b;
  border: none;
}

.contactSection form button:hover {
  color: #f57dff;
}

.contactSection form button:active {
  border: 5px inset #8892b0;
  color: #57cbff;
}

.contactMethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactMethods li {
  display: inline;
}

.contactMethods li button {
  background-color: #0a192f;
  border: none;
}

.contactMethods li i {
  color: #ccd6f6;
  margin: 0 20px;
  cursor: pointer;
}

.inputContainer {
  position: relative;
  margin: 10px 0;
}

.inputContainer input, .inputContainer textarea {
  width: 100%;
  margin: 0;
  background-color: #a8b2d1;
  border: none;
  font-family: "Crimson Pro", serif;
  text-align: center;
  line-height: 2;
  color: #0a192f;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  outline: none;
}

.inputContainer span {
  position: absolute;
  background-color: #64ffda;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.inputContainer .bottom,
.inputContainer .top {
  height: 2px;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.inputContainer .left,
.inputContainer .right {
  width: 2px;
  top: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.inputContainer .bottom {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.inputContainer input:focus ~ .bottom,
.inputContainer textarea:focus ~ .bottom {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.inputContainer .right {
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.inputContainer input:focus ~ .right,
.inputContainer textarea:focus ~ .right {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.inputContainer .top {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.inputContainer input:focus ~ .top,
.inputContainer textarea:focus ~ .top {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.inputContainer .left {
  left: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.inputContainer input:focus ~ .left,
.inputContainer textarea:focus ~ .left {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 1084px) {
  .contactSection .contactText {
    width: 80%;
  }
  .contactSection form {
    width: 80%;
  }
}

@media (max-height: 850px) {
  .contactSection .contactText > p {
    margin: 20px 0;
    line-height: 1.5;
  }
}

@media (max-height: 796px) {
  .contactSection .contactText > p {
    margin: 10px 0;
    line-height: 1.3;
  }
}

@media (max-height: 738px) {
  .contactSection .contactText > p {
    margin: 5px 0;
    line-height: 1.3;
  }
  .inputContainer {
    margin: 5px 0;
  }
  .inputContainer input, .inputContainer textarea {
    line-height: 1.5;
  }
}

@media (max-width: 813px) {
  .contactSection .contactText {
    width: 90%;
  }
  .contactSection form {
    width: 90%;
  }
}

@media (max-width: 722px) {
  .contactSection .contactText {
    width: 100%;
  }
  .contactSection form {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .contactSection .contactMethods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSection ul {
    padding-left: 10px;
  }
  .contactSection form button {
    font-size: 1rem;
  }
}

@media (max-width: 414px) {
  .contactSection .contactText > p {
    margin: 2px 0;
    line-height: 1.3;
  }
  .contactSection .inputContainer {
    margin: 5px 0;
  }
  .contactSection .inputContainer input, .contactSection .inputContainer textarea {
    line-height: 1.5;
  }
  .contactSection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 5px;
  }
  .contactSection ul li {
    width: 50px;
  }
  .contactSection li button {
    padding: 0;
    margin: 0;
  }
  .contactSection li i {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .inputContainer input, .inputContainer textarea {
    line-height: 1.2;
  }
  .contactSection form button {
    font-size: 0.7rem;
  }
}

footer {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

footer p {
  color: #a8b2d1;
  text-align: center;
}

footer span {
  color: #64ffda;
}

html {
  font-size: 125%;
}

body {
  max-width: 1920px;
  background-color: #0a192f;
  margin: 0 auto;
  overflow-x: hidden;
}

.maxWidth {
  max-width: 1920px;
  margin: 0 auto;
}

.mainWrapper {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  font-family: "Monoton", cursive;
  color: #ccd6f6;
  font-size: 2rem;
}

h2 {
  font-family: "Inter", sans-serif;
  color: #a8b2d1;
  font-size: 1.8rem;
}

.aboutSection h2,
.projectSection h2,
.skillSection h2,
.contactSection h2 {
  color: #ccd6f6;
  margin: 0;
  height: 15vh;
  padding-top: 5vh;
}

h3 {
  font-family: "Lato", sans-serif;
  color: #8892b0;
  font-size: 1.5rem;
}

p {
  font-family: "Crimson Pro", serif;
}

.copyPop {
  opacity: 0;
  display: none;
  height: 100px;
  width: 600px;
  position: fixed;
  top: calc(50vh - 50px);
  left: calc(50vw - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccd6f6;
  -webkit-animation: popWindowHide 3s linear;
          animation: popWindowHide 3s linear;
}

.copyPop p {
  font-family: "Lato", sans-serif;
  color: #112240;
}

@-webkit-keyframes popWindowHide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes popWindowHide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 1920px) {
  body {
    overflow-x: auto;
  }
  .mainWrapper {
    width: 1536px;
    margin: 0 auto;
  }
}

@media (max-height: 1050px) {
  .aboutSection h2,
  .projectSection h2,
  .skillSection h2,
  .contactSection h2 {
    height: 10vh;
    padding-top: 4vh;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .copyPop {
    width: 400px;
    left: calc(50vw - 200px);
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .copyPop {
    width: 300px;
    left: calc(50vw - 150px);
    padding: 0 10px;
  }
}

@media (max-width: 414px) {
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  p {
    font-size: 0.65rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.6rem;
  }
}
